<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdw.mapper.MessageMapper">
  <resultMap id="BaseResultMap" type="com.sdw.entity.Message">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="userid" jdbcType="BIGINT" property="userid" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <association property="user" javaType="com.sdw.entity.User" columnPrefix="u_">
      <!-- 这里column里面是定义的别名和你查询的语句 -->
      <id column="userid" property="userid"/>
      <id column="username" property="username"/>
      <id column="imgurl" property="imgurl"/>
    </association>

  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from message
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.sdw.entity.Message" useGeneratedKeys="true">
    insert into message (message, userid, time
      )
    values (#{message,jdbcType=VARCHAR}, #{user.userid,jdbcType=BIGINT}, #{time,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sdw.entity.Message">
    update message
    set message = #{message,jdbcType=VARCHAR},
      userid = #{user.userid,jdbcType=BIGINT},
      time = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, message, userid, time
    from message
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, message, userid, time
    from message
  </select>
  <!-- 模糊查询 -->
  <sql id="where_sql">
    <where>
      <if test="keyword!=null">
        AND message name like concat('%',#{keyword},'%')
      </if>
    </where>
  </sql>
  <!-- 查询总数加模糊查询 -->
  <select id="queryEorPageCount" resultType="long">
    select count(*) from message
    <include refid="where_sql"/>
    <!-- 高级查询加分页 -->
  </select>
  <select id="queryForPage" resultMap="BaseResultMap">
    SELECT m.id,m.message,m.time,u.userid as u_userid,u.username as u_username,u.imgurl as u_imgurl FROM user u
    INNER JOIN message m ON(m.userid=u.userid)
    <include refid="where_sql"/>
    <if test="page!=null">
      limit #{start},#{rows}
    </if>
  </select>
  <!--发表文章-->
  <insert id="save" keyColumn="id" keyProperty="id" parameterType="com.sdw.entity.Message" useGeneratedKeys="true">
    insert into message (message, userid, time
    )
    values (#{message,jdbcType=VARCHAR}, #{userid,jdbcType=BIGINT}, #{time,jdbcType=TIMESTAMP}
           )
  </insert>
  <select id="allMessage" resultMap="BaseResultMap">
    SELECT m.id,m.message,m.time,u.userid as u_userid,u.username as u_username,u.imgurl as u_imgurl FROM user u
    INNER JOIN message m ON(m.userid=u.userid)
    where u.userid=#{userid}
  </select>


</mapper>