<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdw.mapper.OthersMapper">
    <resultMap id="BaseResultMap" type="com.sdw.entity.Others">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="othersname" jdbcType="VARCHAR" property="othersname"/>
        <result column="otherstype" jdbcType="VARCHAR" property="otherstype"/>
        <result column="orderid" jdbcType="BIGINT" property="orderid"/>
        <association property="dingdan" javaType="com.sdw.entity.Dingdan" columnPrefix="d_">
            <!-- 这里column里面是定义的别名和你查询的语句 -->
            <id column="id" property="id"/>
            <id column="othersid" property="othersid"/>
        </association>

    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from others
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.sdw.entity.Others" useGeneratedKeys="true">
        insert into others (othersname, otherstype, orderid
        )
        values (#{othersname,jdbcType=VARCHAR}, #{otherstype,jdbcType=VARCHAR}, #{dingdan.othersid,jdbcType=BIGINT}
        )
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.sdw.entity.Others">
        update others
        set othersname = #{othersname,jdbcType=VARCHAR},
        otherstype = #{otherstype,jdbcType=VARCHAR},
        orderid = #{dingdan.othersid,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select id, othersname, otherstype, orderid
        from others
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, othersname, otherstype, orderid
        from others
    </select>
    <!-- 模糊查询 -->
    <sql id="where_sql">
        <where>
            <if test="keyword!=null">
                AND others name like concat('%',#{keyword},'%')
            </if>
        </where>
    </sql>
    <!-- 查询总数加模糊查询 -->
    <select id="queryEorPageCount" resultType="long">
        select count(*) from clothes
        <include refid="where_sql"/>
        <!-- 高级查询加分页 -->
    </select>
    <select id="queryForPage" resultMap="BaseResultMap">
        SELECT o.id,o.orderid,o.othersname ,o.otherstype, d.othersid as d_othersid,d.id as d_id FROM dingdan d
        INNER JOIN others o ON(o.orderid=d.othersid)
        <include refid="where_sql"/>
        <if test="page!=null">
            limit #{start},#{rows}
        </if>
    </select>
</mapper>