<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdw.mapper.RandomhouseMapper">
  <resultMap id="BaseResultMap" type="com.sdw.entity.Randomhouse">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="bname" jdbcType="VARCHAR" property="bname" />
    <result column="btype" jdbcType="VARCHAR" property="btype" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="state" jdbcType="BIGINT" property="state" />
    <result column="starttime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="endtime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="userid" jdbcType="BIGINT" property="userid" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
    <association property="user" javaType="com.sdw.entity.User" columnPrefix="u_">
      <!-- 这里column里面是定义的别名和你查询的语句 -->
      <id column="userid" property="userid"/>
      <id column="username" property="username"/>
    </association>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from randomhouse
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.sdw.entity.Randomhouse" useGeneratedKeys="true">
    insert into randomhouse (bname, btype, time, 
      state, starttime, endtime, 
      userid, describe)
    values (#{bname,jdbcType=VARCHAR}, #{btype,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, 
      #{state,jdbcType=BIGINT}, #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, 
      #{userid,jdbcType=BIGINT}, #{describe,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sdw.entity.Randomhouse">
    update randomhouse
    set bname = #{bname,jdbcType=VARCHAR},
      btype = #{btype,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      state = #{state,jdbcType=BIGINT},
      starttime = #{starttime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP},
      userid = #{userid,jdbcType=BIGINT},
      describe = #{describe,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, bname, btype, time, state, starttime, endtime, userid, describe
    from randomhouse
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
  select r.id, r.bname, r.btype, r.time, r.state, r.starttime, r.endtime, r.userid, r.describe,
         u.userid as u_userid,u.username as u_username
  from randomhouse r INNER JOIN user u on r.userid=u.userid
</select>
</mapper>